---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit: 30px;

$base-font-family: Raleway, Verdana, sans-serif;
$header-font-family: Sorts Mill Goudy, Palatino, serif;

$base-font-size: 18px;
$base-leading: $spacing-unit;
$base-fix: 5px;

$small-header-font-size: 24px;
$small-header-leading: 2 * $spacing-unit;
$small-header-fix: 13px;

$header-font-size: 96px;
$header-leading: 4 * $spacing-unit;
$header-fix: -4px;

$hr-fix: -10px;
$highlight-fix: 20px;

/* Colorbrewer colors */
$cb1: rgb(27,158,119);
$cb2: rgb(217,95,2);
$cb3: rgb(117,112,179);
$cb4: rgb(231,41,138);
$cb5: rgb(102,166,30);
$cb6: rgb(230,171,2);
$cb7: rgb(166,118,29);
$cb8: rgb(102,102,102);

$cb1light: rgb(179,226,205);
$cb2light: rgb(253,205,172);
$cb3light: rgb(203,213,232);
$cb4light: rgb(244,202,228);
$cb5light: rgb(230,245,201);
$cb6light: rgb(255,242,174);
$cb7light: rgb(241,226,204);
$cb8light: rgb(204,204,204);



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
