.Feed {
  position: relative;
  grid-gap: 3em;
  max-width: 1200px;

  img {
    min-width: 100%;
    height: auto;
    padding: 1px;
    background-color: var(--shadow-color);
  }
  iframe {
    padding: 1px;
    background-color: var(--shadow-color);
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
  }
}
