.Feed {
  position: relative;

  img, video {
    width: 100%;
    min-width: 20rem;
    height: auto;
    padding: 1px;
    background-color: var(--shadow-color);
    margin-bottom: 1em;
  }
  iframe {
    padding: 1px;
    background-color: var(--shadow-color);
  }
  li {
    list-style-position: outside;
    margin-left: 1.5em;
  }
}
