$White: #ffffff;
$Black: #333132;

$CBDarkBlueGreen: #1b9e77;
$CBDarkOrange: #d95f02;
$CBDarkPurple: #7570b3;
$CBDarkPink: #e7298a;
$CBDarkGreen: #66a61e;
$CBDarkYellow: #e6ab02;
$CBDarkBrown: #a6761d;
$CBDarkGrey: #666666;

$CBLightBlueGreen: #b3e2cd;
$CBLightOrange: #fdcdac;
$CBLightPurple: #cbd5e8;
$CBLightPink: #f4cae4;
$CBLightGreen: #e6f5c9;
$CBLightYellow: #fff2ae;
$CBLightBrown: #f1e2cc;
$CBLightGrey: #cccccc;

$HamburgerDarkColor: $CBDarkBlueGreen;
$HamburgerLightColor: $CBLightBlueGreen;

$ProfileDarkColor: $CBDarkPurple;
$ProfileLightColor: $CBLightPurple;

$BlogDarkColor: $CBDarkOrange;
$BlogLightColor: $CBLightOrange;

$HistoryDarkColor: $CBDarkGreen;
$HistoryLightColor: $CBLightGreen;

$ProjectsDarkColor: $CBDarkPink;
$ProjectsLightColor: $CBLightPink;

$PageBackgroundColor: $Black;
$LinkColor: $CBDarkPurple;
$OverlayColor: rgba($Black, 0.95);
$BubbleIconColor: $White;
$DisclaimerColor: $CBDarkPink;

@function imgColorFilter($colorValue) {
  @return url(#recolorImageTo + str-slice(inspect($colorValue), 2));
}
