@import './colors.scss';

body {
  background-color: $PageBackgroundColor;
  font-family: 'Josefin Slab', serif;
  color: $White;
  font-size: 16pt;
  padding: 2em;
  margin: 0em;
  position: relative;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40pt;
  text-transform: uppercase;
  letter-spacing: 10pt;
  color: $CBDarkBlueGreen;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24pt;
  text-transform: lowercase;
  font-weight: 700;
  font-style: italic;
}
p {
  margin-left: 1em;
  max-width: 32em;
}
div#content {
  position: relative;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}
div#overlay {
  position: absolute;
  top: 0em;
  left: 0em;
  right: 0em;
  height: 100%;
  background-color: $OverlayColor;
  display: none;
}

svg#createImageRecoloringFilters {
  display: none;
}
