@import './colors.scss';

body {
  background-color: $PageBackgroundColor;
  font-family: 'Josefin Slab', serif;
  color: $White;
  font-size: 16pt;
  line-height: 24pt;
  padding: 2em;
  margin: 0em;
  position: relative;
}
h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 40pt;
  line-height: 48pt;
  text-transform: uppercase;
  letter-spacing: 10pt;
  color: $CBDarkBlueGreen;
}
h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24pt;
  line-height: 32pt;
  text-transform: lowercase;
  font-weight: 700;
  font-style: italic;
}
a {
  color: $LinkColor;
  text-decoration: none;
}
p {
  margin-left: 1em;
  max-width: 32em;
}
div#content {
  position: relative;
  max-width: 48em;
  margin-left: auto;
  margin-right: auto;
}
.disclaimer {
  color: $DisclaimerColor;
}

svg#createImageRecoloringFilters {
  display: none;
}
