/*
Current color scheme

Using ColorBrewer schemes:
http://colorbrewer2.org/#type=qualitative&scheme=Dark2&n=8
http://colorbrewer2.org/#type=qualitative&scheme=Pastel2&n=8
*/

:root {
  --off-white: #F7F7F7;
  --lightest-grey: #D9D9D9;
  --light-grey: #BDBDBD;
  --grey: #969696;
  --dark-grey: #737373;
  --darkest-grey: #525252;
  --off-black: #252525;

  --dark-teal: #1B9E77;
  --dark-orange: #D95F02;
  --dark-purple: #7570B3;
  --dark-pink: #E7298A;
  --dark-green: #66A61E;
  --dark-yellow: #E6AB02;
  --dark-brown: #A6761D;

  --light-teal: #B3E2CD;
  --light-orange: #FDCDAC;
  --light-purple: #CBD5E8;
  --light-pink: #F4CAE4;
  --light-green: #E6F5C9;
  --light-yellow: #FFF2AE;
  --light-brown: #F1E2CC;
}
