@import 'colors.css';

#cv .cvchunk {
  padding-left: 1em;
}
#cv details summary {
  position: relative;
  width: 100%;
  outline: none;
  cursor: pointer;
}
#cv details summary h4 {
  display: inline;
  margin-bottom: 0em;
}
#cv .dates {
  position: absolute;
  right: 0em;
  color: var(--subdued-color);
}
#cv .award,
#cv .people {
  margin-top: 0em;
  margin-bottom: 0em;
}
#cv .visible.award {
  color: var(--award-color);
}
#cv .visible.award::before {
  display: inline-block;
  content: '';
  background-image: url('../images/cv/award.svg');
  width: 1em;
  height: 1em;
  margin-right: 0.35em;
}
#cv .meta li {
  list-style: none;
  color: var(--subdued-color);
}
#cv .download {
  position: relative;
  width: 8em;
  height: 8em;
  border-radius: 4em;
  display: inline-block;
  cursor: pointer;
}
#cv .download:hover {
  background-color: var(--download-color);
}
#cv .download img {
  position: absolute;
  left: 3em;
  top: 1em;
  width: 2em;
  height: 2em;
}
#cv .download span {
  position: absolute;
  top: 4em;
  width: 100%;
  text-align: center;
}
