@baseUnit: calc(0.5vh + 0.5vw);

@paragraphSize: calc(3 * @baseUnit);
@buttonSize: calc(8 * @baseUnit);
@wideButtonSize: calc(3 * @buttonSize);
@buttonPaddingSize: calc(2 * @baseUnit);
@menuSize: calc(@buttonSize + 2 * @buttonPaddingSize);
@wideMenuSize: calc(@wideButtonSize + 2 * @buttonPaddingSize);
