/* @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Josefin+Sans:700'); */
@import 'https://fonts.googleapis.com/css?family=EB+Garamond:400';
@import './colors.less';
@import './measurements.less';
@import './scrollbars.less';

html,
body {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
html {
  background: @backgroundColor;
}
body {
  font-size: @paragraphSize;
}
