@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i|Josefin+Sans:700');
@import url('colors.css');

html,
body {
  font-family: 'EB Garamond', serif;
  font-weight: 400;
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
  }
}
