.BlogView {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap-reverse;

  .blogMenu {
    max-width: 40rem;
    .summary {
      display: flex;
      align-items: baseline;
      .date {
        margin-left: auto;
        white-space: nowrap;
        color: var(--text-color-softer);
      }
    }
    .preview {
      font-size: 0.75em;
      color: var(--text-color-softer);
    }
  }

  .blogContents {
    margin-left: 4rem;
    min-width: 60%;
    max-width: 60rem;
  }
}
