<details>
  <summary>Legend</summary>
  <div class="stars" data-stars="1"></div>
  <p data-description="1">
    I have a sense for what this entails, but have no real experience. I'm
    looking for an excuse to learn!
  </p>
  <div class="stars" data-stars="2"></div>
  <p data-description="2">
    I've done this before&mdash;but it was a long time ago and/or may
    have just been a homework assignment. I'll definitely need to take
    some time and learn from others how to do it properly.
  </p>
  <div class="stars" data-stars="3"></div>
  <p data-description="3">
    I've taken classes about this, but haven't really needed it (yet) in
    an applied context&mdash;it will get done correctly, but I might be
    slow and take some time to re-learn things.
  </p>
  <div class="stars" data-stars="4"></div>
  <p data-description="4">
    I do this frequently, or used to do it regularly as part of my job&mdash;but
    it's been a while and/or I'm experiencing some imposter syndrome about it.
    Expect it done mostly correctly, with a few little mistakes, fumbles, and
    silly questions.
  </p>
  <div class="stars" data-stars="5"></div>
  <p data-description="5">
    I do this as a part of my regular work. It will get done at least as quickly
    and correctly as any other professional can do it.
  </p>
  <div class="stars" data-stars="6"></div>
  <p data-description="6">
    My PhD dissertation was about this, I've published in top-tier academic
    research venues about this, and/or I've built software specifically to
    improve this process.
  </p>
</details>
<div class="entryList"></div>
