<footer class="site-footer">
    <hr/>
    <div class="wrapper">
        {% if site.email %}
            <span class="username">
                <a href="mailto:{{ site.email }}">
                    <span>
                        <img src="/images/social_logos/Mail.svg" width="24px"/>
                    </span>
                    <span>{{ site.email }}</span>
                </a>
            </span>
        {% endif %}
            <span class="username">
                <a href="{{ '/feed.xml' | prepend: site.baseurl }}">
                    <span>
                        <img src="/images/social_logos/RSS.svg" width="24px"/>
                    </span>
                    <span>RSS Feed</span>
                </a>
            </span>
        {% if site.github_username %}
            <span class="username">
                <a href="https://github.com/{{ site.github_username }}">
                    <span>
                        <img src="/images/social_logos/Github.svg" width="24px"/>
                    </span>
                    <span>{{ site.github_username }}</span>
                </a>
            </span>
        {% endif %}
        {% if site.twitter_username %}
            <span class="username">
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <span>
                        <img src="/images/social_logos/Twitter.svg" width="24px"/>
                    </span>
                    <span>{{ site.twitter_username }}</span>
                </a>
            </span>
        {% endif %}
        {% if site.facebook_username %}
            <span class="username">
                <a href="https://www.facebook.com/{{ site.facebook_username }}">
                    <span>
                        <img src="/images/social_logos/Facebook.svg" width="24px"/>
                        {{ site.facebook_username }}
                    </span>
                </a>
            </span>
        {% endif %}
    </div>
</footer>