<header class="site-header">
    <nav id="menu" class="menu">
        <div id="hamburger" class="logo">
            <img src="/images/misc/hamburger.svg" width="30px" height="30px" />
        </div>
        <div id="menuItems" class="menuItems">
            {% for page in site.pages %}
                {% if page.title %}
                    <div class="menuItem" id="{{ page.title }}menuItem">
                        <a href="{{ page.url  | prepend: site.baseurl }}/">{{ page.title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="menuItem">
                <a href="{{ site.baseurl }}/">Blog</a>
            </div>
        </div>
    </nav>
    {% for page in site.pages %}
        {% if page.anchors %}
            <nav class="subMenu" id="{{ page.title }}SubMenu">
                {% for anchor in page.anchors %}
                    <div class="subMenuItem">
                        <a href="{{ page.url | prepend: site.baseurl }}{{ anchor }}.html">{{ anchor }}</a>
                    </div>
                {% endfor %}
            </nav>
        {% endif %}
    {% endfor %}
    {% if page.downloads %}
        <nav id="downloadMenu" class="menu">
            <div id="downloadLogo" class="logo">
                <h3 id="downloadLabel">Download</h3>
                <img src="/images/misc/download.svg" width="30px" height="30px" />
            </div>
            <div id="downloadMenuItems" class="menuItems">
                {% for download in page.downloads %}
                    <div class="menuItem">
                        <a href="{{ download[1] }}">{{ download[0] }}</a>
                    </div>
                {% endfor %}
            </div>
        </nav>
    {% endif %}
</header>