/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
    vertical-align: text-bottom;
}

/**
 * Basic styling
 */
body {
    position: relative;
    top: $base-fix;
    padding: $spacing-unit;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-leading;
    font-weight: 300;
    color: black;
    background-color: white;
    background-image: linear-gradient(lighten($cb1, 50%) 1px, transparent 1px), linear-gradient(90deg, lighten($cb1, 50%) 1px, transparent 1px);
    background-size: $spacing-unit $spacing-unit;
    background-position: 0 -5px;
}

div.wrapper {
    position: relative;
    // Explicitly setting this as relative
    // means that child absolute positioning will
    // be relative to this div, instead of something
    // higher up in the DOM
}

/**
 * Headers
 */

// Sizes, spacing
h1 {
    position: relative;
    font-size: $header-font-size;
    line-height: $header-leading;
    top: $header-fix;
    visibility: hidden;
}
h2, h3, h4, h5, h6 {
    position: relative;
    font-size: $small-header-font-size;
    line-height: $small-header-leading;
    top: $small-header-fix;
}

// Fonts, styling
.title, h1 {
    font-family: $header-font-family;
    font-style: italic;
}
h2, h4, h6 {
    font-family: $base-font-family;
    font-weight: 600;
}
h3, h5 {
    font-family: $header-font-family;
}

// Colors
.title, h1, h4 {
    color: $cb6;
}
h2, h5 {
    color: $cb7;
}
h3, h6 {
    color: black;
}

/**
 * Other element spacing
 */
hr {
    position: relative;
    top: $hr-fix;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit - 2;
}

p {
    margin-bottom: $spacing-unit;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Links
 */
a {
    color: $cb1;
    font-weight: 600;
    text-decoration: none;

    &:visited {
        color: darken($cb1, 15%);
    }

    &:hover {
        color: $cb1light;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: $base-font-size;
    line-height: $base-leading;
}

pre {
    background-color: $cb3light;
    border: 1px solid $cb3;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

div.highlight {
    position: relative;
    top: $highlight-fix;
}

/**
 * Alert box formatting
 */
div.alert {
    position: relative;
    margin-top: $spacing-unit / 2 + 5;
    margin-bottom: $spacing-unit / 2 - 5;
    padding: $spacing-unit / 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: $cb4light;
    color: $cb4;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
%vertical-rhythm {
    margin-bottom: 0;
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
