div.wrapper {
    position: relative;
}

/* Menu stuff */
.menu, .subMenu {
    position: absolute;
    text-align: right;
    cursor: pointer;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.75);
}
.menu {
    padding: $spacing-unit;
}
.subMenu {
    padding-top: 9px;
    padding-right: $spacing-unit;
    padding-bottom: $spacing-unit - 10px;
}
.logo {
    padding-left: $spacing-unit - 1px;
    padding-bottom: $spacing-unit - 1px;
}
.logo img {
    position: absolute;
    top: $spacing-unit;
    right: $spacing-unit - 1;
}
#downloadLabel {
    position: relative;
    padding-right: 2 * $spacing-unit;
    margin-bottom: -1000px;
    margin-left: -19px;
    top: -15px;
}
.menuItems {
    margin-top: 10px;
    margin-bottom: -10px;
}
.collapseTarget > h3 {
    display: inline;
}
.collapseTarget > span {
    float: right;
}
.collapseTarget > img {
    position: relative;
    left: 0px;
    top: -2px;
    padding-right: 7px;
    height: $base-font-size;
}
.collapsedContent {
    display: none;
}