.MenuView {
  position: fixed;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  padding: 1em;

  .menuItem {
    background-color: var(--background-color);
    &.subMenu:before {
      content: '\25b6';
      color: var(--text-color-softer);
      position: absolute;
      right: 0.5em;
    }
    &.button-primary {
      background-color: var(--accent-color);
      &:hover {
        background-color: var(--accent-color-hover);
      }
      &.subMenu:before {
        color: var(--inverted-shadow-color);
      }
    }
  }
}
