/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/eb-garamond-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/eb-garamond-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/eb-garamond-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/eb-garamond-v12-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

/* eb-garamond-smallCaps - latin */
@font-face {
  font-family: 'EB Garamond SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/eb-garamond-sc-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/eb-garamond-sc-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/eb-garamond-sc-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/eb-garamond-sc-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/eb-garamond-sc-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/eb-garamond-sc-v12-latin-regular.svg#EBGaramond') format('svg'); /* Legacy iOS */
}

.CV {
  .showInPrint {
    display: none;
  }

  h2, h5 {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
  .meta {
    margin: 0 0 0 1em;
    padding: 0;
    list-style: none;
    color: var(--text-color-softer);
    .award {
      position: relative;
      color: var(--accent-color);
      margin-bottom: 0;
      &:before {
        content: '\2606';
        position: absolute;
        left: -1em;
        bottom: 0px;
      }
    }
  }
  .entry {
    position: relative;
    .title {
      display: block;
      max-width: calc(100% - 4em);
      margin-bottom: 0;
      color: var(--text-color-richer);
    }
    .date {
      position: absolute;
      top: 0;
      right: 0;
      color: var(--text-color-richer);
    }
    .booktitle, .journal, .howpublished {
      margin: 0 0 0 1em;
    }
  }
  .pubchunk .entry .title {
    cursor: pointer;
  }
  .buttonContainer .button {
    margin-right: 1em;
  }
}
.printHelper {
  visibility: hidden;
  h1 {
    font-family: 'EB Garamond SC', serif;
  }
  p {
    font-family: 'EB Garamond', serif;
  }
}

@media screen {
}

@media print {
  html, body {
    background: white;
    font-family: 'EB Garamond', serif;
    color: black !important;
    font-size: 12pt;
    overflow: visible;
    height: auto;
    margin: 0;
    padding: 0;
  }
  .MenuView, .hideInPrint {
    display: none !important;
  }
  .CV {
    grid-template-columns: repeat(2, calc(50% - 5mm));
    grid-gap: 0 10mm;
    max-width: calc(100% - 3cm);
    h1, h2, h3, h4, h5, strong {
      font-family: 'EB Garamond SC', serif;
      page-break-after: avoid;
      margin-top: 0;
      margin-bottom: 0;
    }
    h1 { font-size: 2.0rem; }
    h2 { font-size: 1.75rem; }
    h3 { font-size: 1.5rem; }
    h4 { font-size: 1.25rem; }
    h5 { font-size: 1.0rem; }
    h6 { font-size: 0.8rem; }

    .showInPrint {
      display: inline-block;
    }

    .meta {
      font-size: 0.75em;
    }

    .entry {
      break-inside: avoid;
    }

    .forcePageBreak {
      page-break-after: always;
    }

    /* hacks for mysterious whitespace problems after page break */
  }
  .printHelper {
    display: none;
  }
}
