<footer class="site-footer">
  <hr/>
  <div class="wrapper">
    <span class="username">
      <a href="mailto:abigelow@cs.utah.edu">
        <span>
          <img src="/images/social_logos/Mail.svg" width="24px"/>
        </span>
        <span>abigelow@cs.utah.edu</span>
      </a>
    </span>
    <!--<span class="username">
      <a href="/feed.xml">
        <span>
          <img src="/images/social_logos/RSS.svg" width="24px"/>
        </span>
        <span>RSS Feed</span>
      </a>
    </span>-->
    <span class="username">
      <a href="https://github.com/alex-r-bigelow">
        <span>
          <img src="/images/social_logos/Github.svg" width="24px"/>
        </span>
        <span>alex-r-bigelow</span>
      </a>
    </span>
    <span class="username">
      <a href="https://twitter.com/accidental_PhD">
        <span>
          <img src="/images/social_logos/Twitter.svg" width="24px"/>
        </span>
        <span>accidental_PhD</span>
      </a>
    </span>
    <span class="username">
      <a href="https://www.facebook.com/alex-r-bigelow">
        <span>
          <img src="/images/social_logos/Facebook.svg" width="24px"/>
        </span>
        <span>alex-r-bigelow</span>
      </a>
    </span>
  </div>
</footer>
