@import '../colors.scss';

div#overlay {
  position: fixed;
  top: 0em;
  left: 0em;
  right: 0em;
  bottom: 0em;
  background-color: $OverlayColor;
}

nav {
  svg {
    position: fixed;
    top: 0px;
    right: 0px;

    .bubble {
      cursor: pointer;

      &.profile path {
        fill: $ProfileDarkColor;
      }
      &.profile.repress path {
        fill: $ProfileLightColor;
      }
      &.projects path {
        fill: $ProjectsDarkColor;
      }
      &.projects.repress path {
        fill: $ProjectsLightColor;
      }
      &.blog path {
        fill: $BlogDarkColor;
      }
      &.blog.repress path {
        fill: $BlogLightColor;
      }
      &.history path {
        fill: $HistoryDarkColor;
      }
      &.history.repress path {
        fill: $HistoryLightColor;
      }
    }

    #Hamburger {
      cursor: pointer;

      path {
        fill: $HamburgerDarkColor;
      }
      &.repress path {
        fill: $HamburgerLightColor;
      }
    }
  }

  #SecondLevel {
    position: absolute;
    text-align: right;

    .link {
      margin: 1em;
    }
  }
}
